.team-events
  .controls
    = select_tag(:fired_by, firer_options(@firers, params[:user_id]), include_blank: I18n.t('firers.include_blank'), path: team_events_path(@team))
    = button_tag('fire a todo created event', id: :fire_event_btn)
  .events
    - @events.each do |event|
      = render 'event', event: event
